body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
} 

h1 {
    font-size: 200%;
}

a:hover {
    color: #fff;
    font-size: 102%;
 
}

section:hover {
    color: #fff;

} 

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}  
  
nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    padding: 5px;
    text-indent: 20px;
}  

section {
    flex: 3;  
    padding: 10px;
    text-indent: 20px;
}

img {
    display: block;
    margin: 0 auto ;
    width: 100%;
    height: 300px;
}

.sample-img {
    background-color: lightgreen;
    width: 100%;
    height: 300px;
    border: 2px solid green;
}

.projects {
    border-radius: 10px;
}

.beautybox {
    padding: 20px;

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background-color: lightgreen;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
      
    }
  }










